  <div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">
  
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
              </ng-container>
  
              <ng-container matColumnDef="prod_name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">
                    <img class="mat-card-avatar" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg">
                    <div class="m-l-15">
                      <p class="font-medium m-b-0 m-t-0">{{ element.prod_name }}</p>
                      <small class="text-muted">{{element.Position}}</small>
                    </div>
                  </div>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="prod_price_selling">
                <th mat-header-cell *matHeaderCellDef> Actual Price </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_price_selling}} </td>
              </ng-container>
  
              <ng-container matColumnDef="prod_price_offer">
                <th mat-header-cell *matHeaderCellDef> Offer Price </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_price_offer}} </td>
              </ng-container>
  
              <ng-container matColumnDef="stock for manual sale">
                <th mat-header-cell *matHeaderCellDef> stock for manual sale </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_stock}} </td>
              </ng-container>
  
              <ng-container matColumnDef="stock for online sale">
                <th mat-header-cell *matHeaderCellDef> Stock for Online Sale </th>
                <td mat-cell *matCellDef="let element"> {{element.Projects}} </td>
              </ng-container>
  
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <!-- <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a> -->
                  <!-- <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer"> 
                    <i class="fa fa-trash text-danger"></i>
                  </a>-->
                  <a  class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a> 
                  <a class="m-r-10 cursor-pointer" (click)="onDeleteProduct()"> 
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>