<div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">
  
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef>Sail Id</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
  
              <ng-container matColumnDef="Customer Name">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">
                    <div class="m-l-15">
                      <p class="font-medium m-b-0 m-t-0">{{ element.customer_name }}</p>
                      <!-- <small class="text-muted">{{element.Position}}</small> -->
                    </div>
                  </div>
                </td>
              </ng-container>
              <!-- [src]='element.imagePath'  -->
              <ng-container matColumnDef="Product Category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_category}} </td>
              </ng-container>
  
              <ng-container matColumnDef="Product Name">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_name}} </td>
              </ng-container>

              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_expiry_date}} </td>
              </ng-container>

              <ng-container matColumnDef="Selling Price">
                <th mat-header-cell *matHeaderCellDef> Selling Price </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_price_selling}} </td>
              </ng-container>

              <ng-container matColumnDef="Dicount">
                <th mat-header-cell *matHeaderCellDef> Discount </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_discount}} </td>
              </ng-container>

              <ng-container matColumnDef="Total Amount">
                <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.prod_price_total}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <a  class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                  <a class="m-r-10 cursor-pointer" (click)="onDeleteProduct()">
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>