<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title> Orders </mat-card-title>
            </mat-card-content>
            <mat-tab-group>
                <mat-tab label="Orders">
                    <mat-card-content>
                        <app-all-orders></app-all-orders>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
