<div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">
  
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
  
              <ng-container matColumnDef="Delivery Boy Name">
                <th mat-header-cell *matHeaderCellDef> Delivery Boy Name </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">
                    <!-- <img class="mat-card-avatar" [src]='element.imagePath'> -->
                    <div class="m-l-15">
                      <p class="font-medium m-b-0 m-t-0">{{ element.delivery_boy_name }}</p>
                      <small class="text-muted">{{element.Position}}</small>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="Delivery Boy Email">
                <th mat-header-cell *matHeaderCellDef> Delivery Boy Email </th>
                <td mat-cell *matCellDef="let element"> {{element.delivery_boy_email}} </td>
              </ng-container>

              <ng-container matColumnDef="Delivery Status">
                <th mat-header-cell *matHeaderCellDef> Delivery Status </th>
                <td mat-cell *matCellDef="let element"> {{element.delivery_status}} </td>
              </ng-container>
  
              <ng-container matColumnDef="Payment">
                <th mat-header-cell *matHeaderCellDef> Payment </th>
                <td mat-cell *matCellDef="let element"> {{element.payment_status}} </td>
              </ng-container>

              <ng-container matColumnDef="Petrol Request">
                <th mat-header-cell *matHeaderCellDef> Petrol Request </th>
                <td mat-cell *matCellDef="let element"> {{element.payment_status}} </td>
              </ng-container>

              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                  <a (click)="onDeleteProduct()" class="m-r-10 cursor-pointer">
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>